<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Paradox Fortuna</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- PRE -->
    <link rel="preload" href="HTML/VIDEOS/main.mp4" as="video" type="video/mp4">

    <!-- CSS -->
    <link rel="stylesheet" href="HTML/CSS/all.css">
    <link rel="stylesheet" href="HTML/CSS/style.css">

    <!-- JS -->
    <script src="HTML/JS/angular.js" charset="utf-8"></script>
    <script src="HTML/JS/app.js" charset="utf-8"></script>



  </head>
  <body ng-controller="myController">
    <div class="app-container">
      <div class="app-container-inner" id="container">
        <div class="app-header">
          <video oncontextmenu="return false;" class="app-video" src="HTML/VIDEOS/main.mp4" autoplay muted loop style="top: {{scrollOffset}}px;"></video>
          <div class="app-text">
            <div class="app-text-line">WE ARE</div>
            <div class="app-text-line">PARADOX</div>
          </div>
        </div>
        <div class="app-mininav"></div>
        <div class="app-content">
          <div class="app-team-bg"></div>
          <div class="app-banner-bg"></div>
          <div class="app-content-fade">
            <div class="app-content-center app-content-first">
              <div class="app-content-main-image">
                <img src="HTML/IMAGES/vayne.png">
              </div>
              <div class="app-content-main-descritpion">
                <h1>About us</h1>
                <div class="app-content-para">
                  <div class="app-para-bg"></div>
                  Our team members are coming from Serbia, Croatia and Bosnia. We are student what are still on collges and also a good friends. In spite of studies, there's always time for competition and the best results. We take a determined approach to every game and achieve victories.
                </div>
              </div>
            </div>
          </div>
          <div class="app-content-fade">
            <div class="app-content-center">
              <h1>Our team</h1>
              <div class="app-team-div">
                <div class="app-team-half">
                  <div class="app-role">
                    <img src="HTML/IMAGES/roles/jungle.png">
                  </div>
                  <div class="app-team-singleinfo">
                    <i class="fas fa-user"></i> Filip Maksimovic
                  </div>
                  <div class="app-team-singleinfo">
                    <i class="fas fa-map-marker-alt"></i> Serbia
                  </div>
                  <div class="app-team-singleinfo">
                    <i class="fas fa-crosshairs"></i> Jungle
                  </div>
                  <div class="app-team-singleinfo">
                    <i class="fas fa-trophy"></i> Challenger
                  </div>
                  <div class="app-team-singleinfo">
                    <i class="fas fa-gamepad"></i> PDX FURZIMYRIAL
                  </div>
                </div>
                <div class="app-team-image"></div>
                <div class="app-team-other">
                  <a class="app-team-single-player">
                    <img src="HTML/IMAGES/players/2.jpg">
                  </a>
                  <a class="app-team-single-player">
                    <img src="HTML/IMAGES/players/3.jpg">
                  </a>
                  <a class="app-team-single-player">
                    <img src="HTML/IMAGES/players/4.jpg">
                  </a>
                  <a class="app-team-single-player">
                    <img src="HTML/IMAGES/players/5.jpg">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="app-content-fade app-content-gameplay">
            <div class="app-content-center">
              <h1>Gameplay</h1>
              <div class="app-gameplay">
                <iframe src="https://www.youtube.com/embed/Pn2gVCBqT9A"></iframe>
              </div>
            </div>
          </div>
          <div class="app-content-fade">
            <div class="app-content-center app-banners">
              <h1>Next tournaments</h1>
              <div class="app-one-line">
                <div class="app-single-banner">
                  <img src="HTML/IMAGES/gemstone.png">
                </div>
                <div class="app-banner-desc">
                  <div class="app-banner-head">Vip Adria League</div>
                  <div class="app-banner-para">
                    In Season 4 of A1 Adria League the stakes are even higher than ever before - prizepool of 24.000 Euros, live finals at the most prestigious gaming fair in the region - Infogamer Reboot Zagreb and a follow-up story for the winners who will get a chance to further prove their worth in top notch esports competitions.
                  </div>
                </div>
              </div>
              <div class="app-one-line">
                <div class="app-single-banner">
                  <img src="HTML/IMAGES/gemstone.png">
                </div>
                <div class="app-banner-desc">
                  <div class="app-banner-head">National eSports League</div>
                  <div class="app-banner-para">
                    It’s not just a game. It’s more than a hobby. We have enjoyed games all our lives, we think about them, talk about them, frustrate over them. We are gamers.
                    This is our effort to bring world class esports and competitive gaming to players and fans in our region.
                    Our main activities include organization and production of various kinds of events, viewing parties, tournaments and leagues.
                    We believe in talent of the team we have assembled, which we continuously try to expand and further develop.
                    We are always looking for people who share our enthusiasm and who are willing to fully invest their talent and energy into one simple goal. Gaming.
                  </div>
                </div>
              </div>
              <div class="app-one-line">
                <div class="app-single-banner">
                  <img src="HTML/IMAGES/gemstone.png">
                </div>
                <div class="app-banner-desc">
                  <div class="app-banner-head">eSports Balkan League</div>
                  <div class="app-banner-para">
                    Season 5 covers 10 countries as a native region: Serbia, Croatia, Hungary, Romania, Bulgaria, Bosnia & Herzegovina, FYROM, Slovenia, Montenegro and Albania. The league features 8 best teams fighting in a double round robin "best-of-1" format throughout the season, with the top 4 teams advancing to playoffs.
                    Each final is held in an offline venue and provides a unique spectator experience to our fans.
                    Season 5 finalists will clash on August 24 in the very heart of Belgrade in Kombank Hall.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="app-footer">
          <div class="app-footer-nav">
            <div class="app-footer-single">
              <h1><i class="fas fa-user"></i> User</h1>
              <div class="app-footer-item">Something</div>
              <div class="app-footer-item">Something</div>
              <div class="app-footer-item">Something</div>
              <div class="app-footer-item">Something</div>
            </div>
            <div class="app-footer-single">
  b
            </div>
            <div class="app-footer-single">
  c
            </div>
            <div class="app-footer-single">
  d
            </div>
          </div>
          <div class="app-footer-copyright">
            Copyright &copy; 2018
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
