@keyframes scaling {
  0% {transform: scale(1.2);}
  100% {transform: scale(1);}
}

@keyframes fromleft {
  0% {transform: translateX(-100%);opacity: 0;}
  100% {transform: translateX(0%);opacity: 1;}
}

@keyframes fromright {
  0% {transform: translateX(100%);opacity: 0;}
  100% {transform: translateX(0%);opacity: 1;}
}

@font-face {
  font-family: "TT-Pines";
  src: url("../FONTS/tt-pines-demo.bold-italic.otf");
}

@font-face {
  font-family: "P-Sans";
  src: url("../FONTS/PerspectiveSans-Regular.otf");
}

* {
  box-sizing: border-box;
  font-family: "P-Sans";
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin: 0px;
}

.app-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.app-container-inner {
  width: calc(100% + 17px);
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.app-header {
  width: 100%;
  height: calc(100vh - 100px);
  min-height: 500px;
  overflow: hidden;
  position: relative;
}

.app-video {
  position: relative;
  object-fit: cover;
  object-position: 80% 0%;
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  animation: scaling 0.5s forwards 1s ease-out;
}

.app-text {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.app-text-line {
  height: 50%;
  width: 100%;
  font-size: calc(calc(100vh - 100px) / 4);
  color: #ffffff;
  font-family: "TT-Pines";
  transform: translateX(-100%);
  background: url("../IMAGES/bg2.jpg");
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 4px 6px #c987c4);
}

.app-text-line:nth-of-type(1) {
  animation: fromleft 0.5s forwards 1s ease-out;
}
.app-text-line:nth-of-type(2) {
  animation: fromleft 0.5s forwards 1.5s ease-out;
}

.app-mininav {
  background-color: #13111e;
  width: 100%;
  height: 100px;

}

.app-content {
  width: 100%;
  overflow-x: hidden;
  background: url("../IMAGES/bg3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

.app-footer {
  width: 100%;
  height: 400px;
  background: url("../IMAGES/bg.jpg");
  background-position: center;
  background-size: cover;
}



.app-footer-single {
  width: 25%;
  max-width: 300px;
}

.app-footer-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  height: calc(100% - 30px);
}

.app-footer-copyright {
  width: 100%;
  height: 30px;
  text-align: center;
  color: #ffffff;
  font-family: "P-Sans";
  font-size: 18px;
  line-height: 30px;
  vertical-align: middle;
}

.app-footer-list {
  font-size: 24px;
  color: #ffffff;
}

.app-content-fade {
  width: 100%;
}

.app-content-fade:nth-of-type(odd) {
  animation: fromleft 0.5s forwards ease-out;
  animation-play-state: paused;
}

.app-content-fade:nth-of-type(even) {
  animation: fromright 0.5s forwards ease-out;
  animation-play-state: paused;
}

.app-content-center {
  width: 1000px;
  margin: 0px auto;
  padding: 15px;
}

.app-team-bg {
  width: 100%;
  height: 500px;
  top: 1040px;
  background-color: #4c216d;
  position: absolute;
  left: 0px;
  animation: none;
}

.app-banner-bg {
  width: 100%;
  height: 900px;
  bottom: 0px;
  background-color: #1c072e;
  position: absolute;
  left: 0px;
  animation: none;
}

.app-team-bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 0px;
  left: 0px;
  background-color: #1c072e;
}

.app-content-center h1 {
  text-align: center;
  font-family: "TT-Pines";
  color: #ffffff;
  font-size: 65px;
}

.app-content-para {
  text-align: justify;
  direction: ltr;
  font-family: "TT-Pines";
  color: #ffffff;
  font-size: 20px;
  display: block;
  position: relative;
}

.app-para-bg {
  background-color: #1c072e;
  width: calc(100% + 60px);
  height: calc(100% + 60px);
  position: absolute;
  z-index: -1;
  left: -30px;
  top: -30px;
  clip-path: polygon(0% 6%, 100% 0%,97% 87%,3% 91%);
}

.app-team-div {
  box-shadow: 0px 0px 10px 1px #00000088;
  width: 100%;
  background: url("../IMAGES/bg.jpg");
  background-position: center;
  background-size: cover;
  height: 600px;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  display: flex;
}

.app-content-first {
  display: flex;
  margin: 150px auto 150px;
}

.app-team-div::after {
  content: '';
  position: absolute;
  width: calc(100% + 10px);
  height: 20px;
  left: -5px;
  background-color: #1c072e;
  border-radius: 5px;
  bottom: -20px;
}

.app-gameplay {
  width: 100%;
  padding-bottom: 56.25%;
  background-color: black;
  object-fit: contain;
  object-position: center;
  position: relative;
}

.app-gameplay iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.app-team-half {
  width: 400px;
  height: 600px;
  padding: 30px;
  padding-right: 10px;
  text-align: left;
}

.app-team-all {
  width: 100px;
  height: 100%;
  background-color: blue;
}

.app-single-banner {
  width: 120px;
  height: 170px;
  margin: 0px auto;
}

.app-single-banner img {
  object-position: center;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.app-team-image {
  position: absolute;
  height: 615px;
  width: 400px;
  bottom: 0px;
  right: 150px;
  background-image: url("../IMAGES/players/1.jpg");
  background-position: 50% 0%;
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%,100% 100%,15% 100%);
  border-radius: 20px 0px 0px 0px;
}

.app-team-singleinfo {
  width: 350px;
  height: 55px;
  background-color: #00000088;
  position: relative;
  margin-bottom: 15px;
  padding: 10px;
  color: #ffffff;
  font-size: 20px;
  line-height: 35px;
  vertical-align: middle;
  border-radius: 10px 10px 0px 0px;
  font-family: "TT-Pines";
}

.app-team-singleinfo i {
  color: #8402d4;
  display: inline-block;
  width: 40px;
  text-align: center;
}

.app-team-singleinfo::before {
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg,#995193,#5766bc);
  position: absolute;
  bottom: 0px;
  content: '';
  left: 0px;
}

.app-role {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 20px auto;
  padding: 20px;
  background-color: #00000088;
  border-radius: 50%;
}

.app-role img {
  object-fit: cover;
  object-position: center;
  width: 110px;
  height: 110px;
}

.app-team-other {
  width: 150px;
  height: 615px;
  position: absolute;
  right: 0px;
  top: -15px;
  border-radius: 0px 20px 0px 0px;
  overflow: hidden;
}

.app-team-single-player {
  width: 100%;
  height: 25%;
  display: block;
  border: 1px solid #5865bb;
  overflow: hidden;
}

.app-team-single-player:nth-of-type(1) {
  border-radius: 0px 20px 0px 0px;
}

.app-team-single-player img {
  transform: scale(1);
  transition: 0.3s all ease-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
}

.app-team-single-player:hover img {
  transform: scale(1.2);
  transition: 0.3s all ease-out;
}

.app-content-main-image {
  width: 500px;
  height: 400px;
  object-fit: contain;
  object-position: center;
}

.app-content-main-image img {
  width: 100%;
  height: 100%;
}

.app-content-main-descritpion {
  width: calc(100% - 500px);
  height: 400px;
  object-fit: contain;
  object-position: center;
}

.app-content-gameplay {
  padding-bottom: 200px;
  padding-top: 150px;
}

.app-thirdpart {
  width: 33%;
  min-height: 500px;
}

.app-banners {
  padding: 100px 15px;
}

.app-one-line {
  width: 100%;
  height: 200px;
  display: flex;
}

.app-banner-desc {
  width: calc(100% - 120px);
  height: 100%;
  padding: 15px;
}

.app-banner-head {
  font-size: 26px;
  color: #a2883d;
  margin-bottom: 20px;
  font-family: "TT-Pines";
}

.app-banner-para {
  color: #ffffff;
}

.app-footer-single h1 {
  color: #ffffff;
  text-align: center;
}
